<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jin.blog.dao.UserDao">
    <select id="getUsers" resultType="jin.blog.domain.User">
        SELECT * FROM user;
    </select>
    <select id="findByName" parameterType="string"
            resultType="jin.blog.domain.User">
        SELECT * FROM `user`
        where name=#{name}
    </select>

</mapper>